@{
    ViewData["Title"] = "Contact";
}
<div class="transbox">
    <h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>

    <address>
        DevCodeCamp
        333 Plankinton Rd<br />
        Milwaukee, WI<br />
            <abbr title="Phone">Cell:</abbr>
        414-553-0741
    </address>
    <address>
        <strong>Creator:</strong> <a>Aaron DeSanctis</a><br />
    </address>
</div>
