@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="transbox">
        <h1>Simpl-TMS</h1><br><br>
        <h4>Helping you:</h4><br><br>
        <p>-manage your business</p><br>
        <p>-delegate tasks more evenly</p><br>
        <p>-pay employee's directly</p><br>
        <p>-figure out the best plan for long term finances</p><br>
    </div>
</body>
