@model PayPal.Models.PeopleModel.Task

@{
    ViewData["Title"] = "Create";
}
<div class="transbox">
    <h2>Create</h2>

    <form asp-action="Create">
        <div class="form-horizontal">
            <h4>Task</h4>
            <hr />
            <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompletionTime" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="CompletionTime" class="form-control" />
                    <span asp-validation-for="CompletionTime" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DifficultyLevel" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="DifficultyLevel" class="form-control" />
                    <span asp-validation-for="DifficultyLevel" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RoleID" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="RoleID" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ValueLevel" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ValueLevel" class="form-control" />
                    <span asp-validation-for="ValueLevel" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
    @section Scripts {
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }
